<div class="container-sm border">
  <%= form_with(model: tarea) do |form| %>
  <div class="mb-3 ">
    <% if tarea.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

        <ul>
          <% tarea.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <div class="field">
      <%= form.label :descripcion, class:"form-label" %>
      <%= form.text_field :descripcion, class:"form-control" %>
    </div>
  </div>
  
  <div class="mb-3">
    <div class="field">
      <%= form.label :completada, class:"form-label" %>
      <%= form.check_box :completada, class:"form-check-input" %>
    </div>
  </div>
  
  <div class="mb-3">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
  <% end %>
</div>
