

<h1>Tareas</h1>


<br/>
  <div class="table-responsive bo">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Descripción</th>
          <th scope="col">Realización</th>
          
        </tr>
      </thead>

      <tbody>
        <% @tareas.each do |tarea| %>
          <% if tarea.completada %>
            <tr class="bg-secondary" style="--bs-bg-opacity: .5">
              <th scope="row" class="tachado"><%= link_to tarea.descripcion, edit_tarea_path(tarea) %></th>
              <td>
                <%= form_with(model: tarea) do |form| %>
                  <%= form.text_field :descripcion, type: 'hidden' %>
                  <%= form.check_box :completada, :checked => false, :style => 'visibility: hidden' %>
                  <%= form.submit "desmarcar", class:"btn btn-outline-primary btn-sm" %>
                <% end %>
              </td>
              <td><%= link_to 'Eliminar', tarea_path(tarea), class:"btn btn-outline-danger btn-sm", method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
            </tr>
          <% else %>
          <tr>
              <th scope="row"><%= link_to tarea.descripcion, edit_tarea_path(tarea) %></th>
              <td>
                <%= form_with(model: tarea) do |form| %>
                  <%= form.text_field :descripcion, type: 'hidden' %>
                  <%= form.check_box :completada, :checked => true, :style => 'visibility: hidden' %>
                  <%= form.submit " marcar ", class:"btn btn-outline-primary btn-sm" %>
                <% end %> 
              </td>
              <td><%= link_to 'Eliminar', tarea_path(tarea), class:"btn btn-outline-danger btn-sm", method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
          </tr>
          <% end %>  
        <% end %>
      </tbody>
    </table>
    <%= link_to "Borrar marcados", home_trash_em_path, class: "btn btn-outline-primary", data: { confirm: '¿Estás seguro?' } %>
    <%= link_to "Borrar todos", home_trash_em_all_path, class: "btn btn-outline-primary", data: { confirm: '¿Estás seguro?' } %>
  </div>
<br>


